<Form [formGroup]='movieForm' (ngSubmit)='onSubmit()' class='mt-2'>
        <!-- Title -->
      <input formControlName='title' class='mb-2' placeholder="Title" id='title'><br>
        <!-- Description -->
      <input formControlName='descript' type="text" class='mb-2' placeholder="Description" id='descript'><br>
        <!-- image area -->
      <input formControlName='imgUrl' type="text" class='mb-2' placeholder="Image Url" id='imgUrl'><br>
      <button type='submit' class='btn btn-success'>Add Movie</button>  
</Form>
